/* .update-password-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.inuptText {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btnBgColor {
  background-color: #204e79;
  color: white;
  padding: 4px 14px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: #ced4da;
}
.labeltext {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  color: #8c9db5;
  font-weight: 500;
}
.message {
  margin-top: 5px;
  color: red;
} */
